{{#each dependencies}}
import { {{ name }} } from '{{ path }}';
{{/each}}/**
 *
 *
 * @class {{ name }}
 */
export class {{ name }} {

{{#each attributes}}
    {{ visibility }} {{ name }}: {{ type }};
{{/each}}

{{#if construct}}
    {{ visibility }} constructor({{#each construct.params}}
        {{ name }}: {{ type }}{{#ifNotLastIndex @index ../construct.params}},{{/ifNotLastIndex}}{{/each}}
    ) {

    }
{{/if}}

{{#each operations}}
    {{ visibility }} {{ name }}({{#each params}}
        {{ name }}: {{ type }}{{#ifNotLastIndex @index ../params}},{{/ifNotLastIndex}}{{/each}}
    ): {{ type }} {

    }
{{/each}}

}
