{{#each dependencies}}
    import { {{ name }} } from '{{ path }}';
{{/each}}/**
 *
 *
 * @interface {{ name }}
 */
export interface {{ name }} {

{{#each attributes}}
    {{ name }}: {{ type }};
{{/each}}

{{#each operations}}
    {{ name }}({{#each params}}
        {{ name }}: {{ type }}{{/each}}
    ): {{ type }};
{{/each}}

}
