import { {{ name }} } from './../{{ fileName }}.model';
import { I{{ name }} } from './../interfaces/{{ fileName }}.interface';

describe( '{{ fileName }}', () => {
    let {{ varName }};

    beforeAll(() => {
        {{varName}} = new {{name}}({} as I{{name}});
    });

    const properties = [
{{#each attributes}}
        '{{ name }}',
{{/each}}
    ];

    const methods = [
        'constructor',
{{#each operations}}
        '{{ name }}',
{{/each}}
    ];

    describe('{{name}}.model', function () {
        for (const key of properties) {testProperty(key); }
        for (const key of methods) {testMethod(key); }

    {{#each operations}}

        xit('{{name}} should return correct', () => expect({{../varName}}.{{name}}()).toEqual('') );
    {{/each}}
    });

    function testProperty(key) {
        it('should have ' + key, () => expect({{varName}}.hasOwnProperty(key)).toEqual(true) );
    }

    function testMethod(key) {
        it('should have ' + key, () => expect({{varName}}[key]).toBeDefined() );
    }

});
